<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name = "becognizant" >
<listeners>
	<listener class-name = "CASpro.Extentreport" />
</listeners>
	<test name = "chrome">
	<parameter name="browser" value="chrome" />
		<classes>
		<class name = "CASpro.Cas_Project" />
		</classes>
		</test>
</suite>